@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('fonts/Gilroy-Regular.woff2') format('woff2'),
        url('fonts/Gilroy-Regular.woff') format('woff'),
        url('fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('fonts/Gilroy-Bold.woff2') format('woff2'),
        url('fonts/Gilroy-Bold.woff') format('woff'),
        url('fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  * {
    font-family: "Gilroy", Arial, sans-serif !important;
  }
  .dropdown-large{ padding:1rem; }

  /* ============ desktop view ============ */
  @media all and (min-width: 992px) {
    .dropdown-large{min-width:500px!important;
    }
    .dropdown-middle{min-width:250px!important;
    }
  }
  /* ============ desktop view .end// ============ */

  @media (min-width: 992px){
  .bd-toc {
    position: -webkit-sticky;
    position: sticky;
    top: 7rem;
    right: 0;
    z-index: 2;
    height: calc(100vh - 7rem);
    overflow-y: auto;
  }
  .bd-side {
    position: -webkit-sticky;
    position: sticky;
    top: 0rem;
    display: block !important;
    height: calc(100vh - 6rem);
    padding-left: 0.25rem;
    margin-left: -0.25rem;
    z-index: 3;
    overflow-y: auto;
    }
  }

.dropdown-hover-default{
  transition: 0.3s;
}
.dropdown-hover-default:hover{
  transition: 0.3s;
  color: #009FFD;
  background-color: white;
  font-weight: bold;
}
.dropdown-hover-default:hover span{
  color: #009FFD;
}



.scrollCustom::-webkit-scrollbar-track {
  border-radius: 4px;
  background: #ededed;
}
.scrollCustom::-webkit-scrollbar {
  width: 6px !important;
  transition: 0.3s;
    border-radius: 4px;
}
.scrollCustom::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #009FFD;
}

body::-webkit-scrollbar-track {
  border-radius: 4px;
  background: #ededed;
}
body::-webkit-scrollbar {
  width: 6px !important;
  transition: 0.3s;
    border-radius: 4px;
}
body::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #009FFD;
}

.bd-side::-webkit-scrollbar-track {
  border-radius: 4px;
  background: #ededed;
}
.bd-side::-webkit-scrollbar {
  width: 6px !important;
  transition: 0.3s;
    border-radius: 4px;
}
.bd-side::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #009FFD;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #009FFD !important;
    font-weight: bold !important;
    background-color: white !important;
}

.hover-effect{
  transition: .3s;
}
.hover-effect:hover{
  background-color: #D7F0FF !important;
  border-radius: .325rem;
  font-weight: bold;
}
.hover-effect:hover, a{
  color: #white;
}


.title {
    /* Чтобы спрятать часть линий, которые
    ** будут вылазить за пределы блока */
    overflow: hidden;
    /* Выравнивание заголовка по центру,
    ** можно использовать left, right */
    text-align: center;
    /* Тут можно добавить другие стили для заголовка */
}
.title span {
    /* Стили тега обертки для заголовков
    ** в несколько строк */
    display: inline-block;
    vertical-align: middle;
}

.title:before,
.title:after {
    /* Обязательно указываем пустое свойство content,
    ** иначе псевдоэлементы не появятся на сайте */
    content: "";
    /* Указываем что наши линии будут строчно-блочные и
    ** выравнивание по высоте - по центру */
    display: inline-block;
    vertical-align: middle;
    /* Задаем ширину 100% и выбираем высоту линии,
    ** в нашем примере она равна 4 пикселям */
    width: 100%;
    height: 1px;
    /* Добавляем цвет для линии */
    background-color: #E2E2E2;
    /* Добавляем пседоэлемантам возможность изменить
    ** позицию линии, для создания отступов от текста */
    position: relative;
}
.title:before {
    /* Смещаем левую линию на 100% влево, чтобы линия
    ** встала рядом с текстом слева */
    margin-left: -100%;
    /* Указываем в пикселях отступ линии от текста заголовка */
    left: -14px;
}
.title:after {
    /* Смещаем правую линию на 100% вправо, чтобы
    ** линия встала рядом с текстом справа */
    margin-right: -100%;
    /* Указываем в пикселях отступ линии от текста заголовка */
    right: -14px;
}

/* .offcanvas-backdrop.show {
} */
